<form action="" method="POST" id="card-form">
  	<span class="card-errors"></span>
  	<div class="row">
		<div class="form-row">
		    <label>
		      <span>Nombre del tarjetahabiente</span>
		      <input type="text" size="20" data-conekta="card[name]" required="required"/>
		    </label>
		  </div>
		  <div class="form-row">
		    <label>
		      <span>Número de tarjeta de crédito</span>
		      <input type="number" size="20" data-conekta="card[number]" required="required"/>
		    </label>
		  </div>
		  <div class="form-row">
		    <label>
		      <span>CVC</span>
		      <input type="password" size="4" data-conekta="card[cvc]" required="required"/>
		    </label>
		  </div>
		  <div class="form-row">
		    <label>
		      <span>Fecha de expiración (MM/AAAA)</span>
		      <input type="number" size="2" data-conekta="card[exp_month]" required="required"/>
		    </label>
		    <span>/</span>
		    <input type="number" size="4" data-conekta="card[exp_year]" required="required"/>
		  </div>
	</div>
<!-- Información recomendada para sistema antifraude -->
  <div class="form-row">
    <label>
      <span>Calle</span>
      <input type="text" size="25" data-conekta="card[address][street1]"/>
    </label>
  </div>
<div class="form-row">
    <label>
      <span>Colonia</span>
      <input type="text" size="25" data-conekta="card[address][street2]"/>
    </label>
  </div>
<div class="form-row">
    <label>
      <span>Ciudad</span>
      <input type="text" size="25" data-conekta="card[address][city]"/>
    </label>
  </div>
<div class="form-row">
    <label>
      <span>Estado</span>
      <input type="text" size="25" data-conekta="card[address][state]"/>
    </label>
  </div>
<div class="form-row">
    <label>
      <span>CP</span>
      <input type="text" size="5" data-conekta="card[address][zip]"/>
    </label>
  </div>
<div class="form-row">
    <label>
      <span>País</span>
      <input type="text" size="25" data-conekta="card[address][country]"/>
    </label>
  </div>
  <button type="submit" name="submitToken" id="submitToken">¡Pagar ahora!</button>
</form>

<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
<script type="text/javascript">
	//Set your Conekta public key.
	Conekta.setPublishableKey('key_KJysdbf6PotS2ut2');
	$(function () {
	  $("#card-form").submit(function(event) {
	    var $form = $(this);
		//Prevents multiple tokens.
	    $form.find("button").prop("disabled", true); 
		//Send the card info to Conekta.
	    Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler); 
	    return false;
	  });
	});
	//If the token is success, create an input with the value.
	var conektaSuccessResponseHandler = function(token) {
	  var $form = $("#card-form");
	  $form.append($("<input type='hidden' name='conektaTokenId'id='conektaTokenId'>").val(token.id));
	  $form.get(0).submit();
	};
	//If the token have an error, display it to the customer.
	var conektaErrorResponseHandler = function(response) {
	  var $form = $("#card-form");
	  $form.find(".card-errors").text(response.message_to_purchaser);
	  $form.find("button").prop("disabled", false);
	};
</script>