<h1>
	Hey, beauty!
	<br>
	<small><em>Welcome to Conekta ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</em></small>
</h1>


<h2>This is an example using the card payment method</h2>

<div>
	@Html.Partial("_CardForm")
</div>
